body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.cart-background {
  width: 100%;
  background-color: #c2d3de;
  padding: 30px;
}

.cart-table {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

.cart-table th:nth-child(2) {
  width: 400px;
}

.cart-table td {
  padding: 15px;
  border-bottom: 1px solid #c2d3de;
}

img {
  width: 100px;
}

.cell-long {
  width: 700px;
}

.btn {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: coral;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: chocolate;
}

.btn:focus {
  background-color: gray;
}

.btn:active {
  background-color: brown;
}

.input-test {
  font-size: 30px;
}

.input-test:focus {
  border: 5px solid red;
}

.custom-link {
  text-decoration: none;
}

.custom-link:link {
  color: blue;
}

.custom-link:visited {
  color: black;
}
