@font-face {
  font-family: '이쁜폰트';
  src: url(./font/NanumSquareAcB.woff);
}

html {
  line-height: 1.15;
}

body {
  margin: 0;
  /* font-family: '이쁜폰트'; */
}

* {
  box-sizing: border-box;
}

.main-background {
  width: 100%;
  height: 500px;
  background-image: url(./shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
  position: relative;
}

.main-title {
  color: white;
  font-size: 40px;
  margin-top: 150px;
  text-align: center;
}

.main-content {
  color: white;
  font-size: 14px;
  text-align: center;
}

.main-button {
  padding: 15px;
  font-size: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-top: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
  cursor: pointer;
}

.explain-box {
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #eee;
  position: relative;
  top: -40px;
}

.product-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.product-container i {
  background-color: burlywood;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding-top: 20px;
  color: white;
  margin-top: 20px;
  text-align: center;
}

.product-container-box p {
  margin-top: -7px;
}

.shop-bg {
  background-color: #eee;
  padding: 20px;
}

.shop-container {
  display: flex;
  width: 90%;
  margin: auto;
}

.shop-item {
  width: 33%;
  padding: 15px;
}

.overlay-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay-black {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 100%;
  transition: all 1s;
}

.overlay-wrap:hover .overlay-black {
  margin-top: 50%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 1s;
}

.overlay:hover {
  opacity: 1;
}

.overlay-black p {
  font-size: 24px;
  margin-left: 10px;
  color: white;
}

.shop-item img {
  width: 100%;
  display: block;
}

.form-background {
  background-color: black;
  padding: 30px;
}

.form-white {
  background-color: white;
  padding: 30px;
  max-width: 600px;
  width: 80%;
  margin: auto;
}

.w-100 {
  width: 100%;
  padding: 10px;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
}

.form-long {
  margin-top: -10px;
}

.yellow-button {
  padding: 10px;
  display: block;
  margin-left: auto;
  border: none;
  background-color: rgb(240, 164, 63);
  border-radius: 5px;
  color: white;
  position: relative;
  right: 10px;
}

@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 30px;
  }

  .product-container {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .main-title {
    font-size: 20px;
  }

  .product-container {
    align-items: center;
    flex-direction: column;
  }
}
